body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1F497D;
    background: #bfbfbf;
    font-size: 24px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #632423;    
    font-size: 18px;
    font-weight: bold;
}
ul{
    color: black;
    font-weight: 500;
}